<hr/>
<div class='col-sm-12' *ngIf='passedHero'>
  <div class='col-sm-6'>
    <h2> {{passedHero.name | uppercase}} Details </h2>
    <p> ID: {{ passedHero.id}} </p>
    <p> Name: {{passedHero.name}} </p>
    <p> Name: {{passedHero.age}} </p>
  </div>
  <hr/>
  <div class='col-sm-6'> 
    <h2>Edit Hero {{passedHero.name}} </h2> 
    <label> Name: 
      <input [(ngModel)]="passedHero.name" class='form-control' placeholder='Name'/>
    </label>
    <label> Age: 
      <input [(ngModel)]="passedHero.age" class="form-control" placeholder='Age' />
    </label>
  </div>
</div>