<nav class='navbar navbar-default'>
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-div" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" routerLink='/'>MEAN-App</a>
    </div>
    <div class="collapse navbar-collapse" id="navbar-div">
      <!-- <ul class="nav navbar-nav">
        <li> <a routerLink='/doctors-pg' *ngIf="loginAuthService.getIsAuthenticated"> Doctors PG</a> </li>
        <li> <a routerLink='/doctors-mg' *ngIf="loginAuthService.getIsAuthenticated"> Doctors MG</a> </li>
        <li> <a routerLink='/dashboard' *ngIf="loginAuthService.getIsAuthenticated"> Dashboard</a> </li>
        <li> <a routerLink='/signup' *ngIf="!loginAuthService.getIsAuthenticated"> Sign Up </a> </li>
        <li> <a routerLink='/login' *ngIf="!loginAuthService.getIsAuthenticated"> Login </a> </li> 
        <li> <a routerLink='/logout' *ngIf="loginAuthService.getIsAuthenticated" (click)="loginAuthService.logoutUser()"> Logout</a> </li>
      </ul> -->

      <ul class="nav navbar-nav">
        <li> <a routerLink='/doctors-pg'> Doctors PG</a> </li>
        <li> <a routerLink='/doctors-mg'> Doctors MG</a> </li>
        <li> <a routerLink='/dashboard'> Dashboard</a> </li>
        <li> <a routerLink='/signup'> Sign Up </a> </li>
        <!-- <li> <a routerLink='/login' *ngIf="!loginAuthService.getIsAuthenticated"> Login </a> </li>  -->
        <!-- <li> <a routerLink='/logout' *ngIf="loginAuthService.getIsAuthenticated" (click)="loginAuthService.logoutUser()"> Logout</a> </li> -->
      </ul>
    </div>
  </div>
</nav>
