<div class='col-sm-12 padzero'>
  <!-- <div class='col-sm-4 padzero'> -->
    <div class="input-group">
      <input #searchText class='form-control' placeholder='Search Heroes' (keyup)="searchHero(searchText.value)" />
      <span class="input-group-btn">
        <button class="btn btn-default" type="submit" (click)="searchHero(searchText.value)">
          <i class='fa fa-search'></i>
        </button>
      </span>
    </div>
    <ul>
      <li class='cust-li' *ngFor='let hero of searchResults'>
        <a routerLink='/hero-detail-pg/{{hero.id}}'> {{hero.name}} </a>
      </li>
    </ul>
  <!-- </div> -->
</div>
