<!-- <div *ngIf='loginAuthService.getIsAuthenticated'>
  <div class='col-sm-6 padzero'>
    <h3 class='mb24'> Top Doctors PGDB</h3>
    <div class='col-sm-2 padzero' *ngFor='let dashDoc of dashboardPGDoctors'>
      <a routerLink='/doctor-detail-pg/{{dashDoc.id}}'> {{ dashDoc.name }} </a> 
    </div>
  </div>
  <div class='col-sm-6 padzero'>
    <h3 class='mb24'> Top Doctors MGDB</h3>
    <div class='col-sm-2 padzero' *ngFor='let dashDoc of dashboardMGDoctors'>
      <a routerLink='/doctor-detail-mg/{{dashDoc._id}}'> {{ dashDoc.name }} </a> 
    </div>
  </div>
</div>

<div *ngIf='!loginAuthService.getIsAuthenticated'>
  <div class='container padzero'>
    <h3> Please <a routerLink='/login'>Log in</a> First </h3>
  </div>
</div> -->




<div class='col-sm-6 padzero'>
  <h3 class='mb24'> Top Doctors PGDB</h3>
  <div class='col-sm-2 padzero' *ngFor='let dashDoc of dashboardPGDoctors'>
    <a routerLink='/doctor-detail-pg/{{dashDoc.id}}'> {{ dashDoc.name }} </a> 
  </div>
</div>
<div class='col-sm-6 padzero'>
  <h3 class='mb24'> Top Doctors MGDB</h3>
  <div class='col-sm-2 padzero' *ngFor='let dashDoc of dashboardMGDoctors'>
    <a routerLink='/doctor-detail-mg/{{dashDoc._id}}'> {{ dashDoc.name }} </a> 
  </div>
</div>