<div class='col-sm-6'>
  <h2> Hero Dummy List </h2>
  
  <ul *ngIf='dummyHeroes'> 
    <li class='cust-li' *ngFor='let heroElem of dummyHeroes' (click)='onHeroSelect(heroElem)' [class.heroSelectedCSS]="heroElem === clickedHero">
      {{heroElem.name}}
    </li>
  </ul>

  <ul *ngIf='dummyHeroesNew'> 
      <li class='cust-li' *ngFor='let heroElem of dummyHeroesNew' (click)='onHeroSelect(heroElem)' [class.heroSelectedCSS]="heroElem === clickedHero">
        {{heroElem.name}}
      </li>
  </ul>
</div>

<hero-details [passedHero]="clickedHero"></hero-details>